@{
    ViewBag.Title = "Contact";
}

<script src="../../Scripts/jquery-3.3.1.min.js"></script>
<script src="../../Scripts/shuffle-text.js"></script>
<link rel="stylesheet" href="../../Content/layout.css" />
<link rel="stylesheet" href="../../Content/tile.css" />
<script type="text/javascript">
    var sample = {};
    sample.postData = function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Test")",
            dataType: "json",
            data: {},
            success: function (data) {
                var table = $("table");
                $("table tr").remove();
                table.append("<tr><td>Name</td><td>Song</td></tr>");
                $.each(data.Peroid1, function (idx, elem) {
                    //"<li><div class=\"inner\"><div class=\"li-img\"><img src=\"../../Images/karaoke-icon.png\"/></div>"+
                    //"    <div class=\"li-text\">"+
                    //"            <h3 class=\"li-head\">Title of Content</h3>"+
                    //"            <div class="li-sub">"+
                    //"                <p>Summary of content.</p>"+
                    //"            </div>"+
                    //"        </div>"+
                    //"    </div>"+
                    //"</li>"
                    table.append("<tr class=\"list img-list\">" +
                        "<td><img class=\"inner\" src=\"../../Images/karaoke-icon.png\" height=\"50\" width=\"50\"/></td>" +
                        "<td class=\"li-text\">" +
                        "<div class=\"li-head\" id=\"period1-1-" + idx + "\">" + (idx + 1) + " " + elem.name + "</div>" +
                        "<div class=\"li-sub\" id=\"period1-2-" + idx + "\">" + elem.song + "</div></td>" +
                        "</tr > ");
                    var out1 = document.getElementById("period1-1-" + idx);
                    new ShuffleText(out1).start();
                    var out2 = document.getElementById("period1-2-" + idx);
                    new ShuffleText(out2).start();
                });
            }
        });
    };

    $(document).ready(function () {
        setTimeout(function() {
            sample.postData();
        }, 5000);
    });
    window.setInterval(function(){
  sample.postData();
}, 5000);
</script>

<table>
    <tr>
        <th>Name</th>
        <th>Song</th>
    </tr>
</table>