@{
    ViewBag.Title = "Contact";
}

<script src="../../Scripts/jquery-3.3.1.min.js"></script>
<script src="../../Scripts/shuffle-text.js"></script>
<link rel="stylesheet" href="../../Content/layout.css" />
<script type="text/javascript">

    //Clock
    function currentTime() {
        var date = new Date(); /* creating object of Date class */
        var hour = date.getHours();
        var min = date.getMinutes();
        var sec = date.getSeconds();
        hour = updateTime(hour);
        min = updateTime(min);
        sec = updateTime(sec);
        $("#clock").text(hour + " : " + min + " : " + sec); /* adding time to the div */
        var t = setTimeout(function () { currentTime() }, 1000); /* setting timer */
    }

    function updateTime(k) {
        if (k < 10) {
            return "0" + k;
        }
        else {
            return k;
        }
    }

    currentTime(); /* calling currentTime() function to initiate the process */


    //Fill in table
    var sample = {};
    sample.postData = function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Test")",
            dataType: "json",
            data: {},
            success: function (data) {
                var table = $("#period1");
                $("#period1 tr").remove();
                $("#waiting1 tr").remove();
                $.each(data.ParticipantDirectory.ParticipantList1, function (idx, elem) {

                    table.append("<tr>" +
                        "<td  id=\"period1-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                        "<td>" +
                        "<div id=\"period1-2-" + idx + "\">" + elem.Request + "</div></td>" +
                        "<td>" +
                        "<div id=\"period1-3-" + idx + "\">" + elem.NumberOfLikes + "</div></td>" +
                        "</tr > ");
                    var out1 = document.getElementById("period1-1-" + idx);
                    new ShuffleText(out1).start();
                    var out2 = document.getElementById("period1-2-" + idx);
                    new ShuffleText(out2).start();
                    var out3 = document.getElementById("period1-3-" + idx);
                    new ShuffleText(out3).start();
                });
                var table = $("#waiting1");
                if (data.ParticipantDirectory.ParticipantList1.length == 10) {
                     $.each(data.WaitingListDirectory.WaitingList1, function (idx, elem) {
                         $("#waiting1").css("display","block");
                        table.append("<tr>" +
                            "<td  id=\"period1-1-1" + idx + "\">" + elem.MainParticipant + "</td>" +
                            "<td>" +
                            "<div id=\"period1-2-1" + idx + "\">" + elem.Request + "</div></td>" +
                            "<td>" +
                            "<div id=\"period1-3-1" + idx + "\">" + elem.NumberOfLikes + "</div></td>" +
                            "</tr > ");
                        var out1 = document.getElementById("period1-1-1" + idx);
                        new ShuffleText(out1).start();
                        var out2 = document.getElementById("period1-2-1" + idx);
                        new ShuffleText(out2).start();
                        var out3 = document.getElementById("period1-3-1" + idx);
                        new ShuffleText(out3).start();
                    });
                }


                //PERIOD 2
                var table = $("#period2");
                $("#period2 tr").remove();
                $("#waiting2 tr").remove();
                $.each(data.ParticipantDirectory.ParticipantList2, function (idx, elem) {
                    table.append("<tr>" +
                        "<td  id=\"period2-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                        "<td>" +
                        "<div id=\"period2-2-" + idx + "\">" + elem.Request + "</div></td>" +
                        "<td>" +
                        "<div id=\"period2-3-" + idx + "\">" + elem.NumberOfLikes + "</div></td>" +
                        "</tr > ");
                    var out1 = document.getElementById("period2-1-" + idx);
                    new ShuffleText(out1).start();
                    var out2 = document.getElementById("period2-2-" + idx);
                    new ShuffleText(out2).start();
                    var out3 = document.getElementById("period2-3-" + idx);
                    new ShuffleText(out3).start();
                });
                 var table = $("#waiting2");
                if (data.ParticipantDirectory.ParticipantList2.length == 10) {
                     $.each(data.WaitingListDirectory.WaitingList2, function (idx, elem) {

                        table.append("<tr>" +
                            "<td  id=\"period1-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                            "<td>" +
                            "<div id=\"period1-2-" + idx + "\">" + elem.Request + "</div></td>" +
                            "<td>" +
                            "<div id=\"period1-3-" + idx + "\">" + elem.NumberOfLikes + "</div></td>" +
                            "</tr > ");
                        var out1 = document.getElementById("period1-1-" + idx);
                        new ShuffleText(out1).start();
                        var out2 = document.getElementById("period1-2-" + idx);
                        new ShuffleText(out2).start();
                        var out3 = document.getElementById("period1-3-" + idx);
                        new ShuffleText(out3).start();
                    });
                }

                //-----------------------------------------------------------------------------------------
                //PERIOD 3
                var table = $("#period3");
                $("#period3 tr").remove();
                $("#waiting3 tr").remove();
                $.each(data.ParticipantDirectory.ParticipantList3, function (idx, elem) {
                    table.append("<tr>" +
                        "<td  id=\"period3-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                        "<td>" +
                        "<div id=\"period3-2-" + idx + "\">" + elem.Request + "</div></td>" +
                        "<td id=\"period3-3-" + idx + "\">" + elem.NumberOfLikes + "</td>" +
                        "</tr > ");
                    var out1 = document.getElementById("period3-1-" + idx);
                    new ShuffleText(out1).start();
                    var out2 = document.getElementById("period3-2-" + idx);
                    new ShuffleText(out2).start();
                    var out3 = document.getElementById("period3-3-" + idx);
                    new ShuffleText(out3).start();
                });
                 var table = $("#waiting3");
                 if (data.ParticipantDirectory.ParticipantList3.length == 10) {
                     $.each(data.WaitingListDirectory.WaitingList3, function (idx, elem) {

                        table.append("<tr>" +
                            "<td  id=\"period1-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                            "<td>" +
                            "<div id=\"period1-2-" + idx + "\">" + elem.Request + "</div></td>" +
                            "<td>" +
                            "<div id=\"period1-3-" + idx + "\">" + elem.NumberOfLikes + "</div></td>" +
                            "</tr > ");
                        var out1 = document.getElementById("period1-1-" + idx);
                        new ShuffleText(out1).start();
                        var out2 = document.getElementById("period1-2-" + idx);
                        new ShuffleText(out2).start();
                        var out3 = document.getElementById("period1-3-" + idx);
                        new ShuffleText(out3).start();
                    });
                }

                //-----------------------------------------------------------------------------------------
                //PERIOD 4
                var table = $("#period4");
                $("#period4 tr").remove();
                $("#waiting4 tr").remove();
                $.each(data.ParticipantDirectory.ParticipantList4, function (idx, elem) {
                    table.append("<tr>" +
                        "<td  id=\"period4-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                        "<td>" +
                        "<div id=\"period4-2-" + idx + "\">" + elem.Request + "</div></td>" +
                        "<td id=\"period4-3-" + idx + "\">" + elem.NumberOfLikes + "</td>" +
                        "</tr > ");
                    var out1 = document.getElementById("period4-1-" + idx);
                    new ShuffleText(out1).start();
                    var out2 = document.getElementById("period4-2-" + idx);
                    new ShuffleText(out2).start();
                    var out3 = document.getElementById("period4-3-" + idx);
                    new ShuffleText(out3).start();
                });
                 var table = $("#waiting4");
                 if (data.ParticipantDirectory.ParticipantList4.length == 10) {
                     $.each(data.WaitingListDirectory.WaitingList4, function (idx, elem) {

                        table.append("<tr>" +
                            "<td  id=\"period4-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                            "<td>" +
                            "<div id=\"period4-2-" + idx + "\">" + elem.Request + "</div></td>" +
                            "<td>" +
                            "<div id=\"period4-3-" + idx + "\">" + elem.NumberOfLikes + "</div></td>" +
                            "</tr > ");
                        var out1 = document.getElementById("period4-1-" + idx);
                        new ShuffleText(out1).start();
                        var out2 = document.getElementById("period4-2-" + idx);
                        new ShuffleText(out2).start();
                        var out3 = document.getElementById("period4-3-" + idx);
                        new ShuffleText(out3).start();
                    });
                }

                //-----------------------------------------------------------------------------------------
                //PERIOD 5
                var table = $("#period5");
                $("#period5 tr").remove();
                $("#waiting5 tr").remove();
                $.each(data.ParticipantDirectory.ParticipantList5, function (idx, elem) {
                    table.append("<tr>" +
                        "<td  id=\"period5-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                        "<td>" +
                        "<div id=\"period5-2-" + idx + "\">" + elem.Request + "</div></td>" +
                        "<td id=\"period5-3-" + idx + "\">" + elem.NumberOfLikes + "</td>" +
                        "</tr > ");
                    var out1 = document.getElementById("period5-1-" + idx);
                    new ShuffleText(out1).start();
                    var out2 = document.getElementById("period5-2-" + idx);
                    new ShuffleText(out2).start();
                    var out3 = document.getElementById("period5-3-" + idx);
                    new ShuffleText(out3).start();
                });
                 var table = $("#waiting5");
                 if (data.ParticipantDirectory.ParticipantList5.length == 10) {
                     $.each(data.WaitingListDirectory.WaitingList5, function (idx, elem) {

                        table.append("<tr>" +
                            "<td  id=\"period5-1-" + idx + "\">" + elem.MainParticipant + "</td>" +
                            "<td>" +
                            "<div id=\"period5-2-" + idx + "\">" + elem.Request + "</div></td>" +
                            "<td>" +
                            "<div id=\"period5-3-" + idx + "\">" + elem.NumberOfLikes + "</div></td>" +
                            "</tr > ");
                        var out1 = document.getElementById("period5-1-" + idx);
                        new ShuffleText(out1).start();
                        var out2 = document.getElementById("period5-2-" + idx);
                        new ShuffleText(out2).start();
                        var out3 = document.getElementById("period5-3-" + idx);
                        new ShuffleText(out3).start();
                    });
                }

            }
        });
    };

    $(document).ready(function () {
        currentTime();
        setTimeout(function() {
            sample.postData();
        }, 5000);
    });
//    window.setInterval(function(){
//  sample.postData();
//}, 50000);
</script>

<div class="pageBody">
    <span id="clock"></span>
    <div id="beforeHour">
        <div class="wrapper">
            <div class="clash-card archer">
                <div class="clash-card__image clash-card__image--archer" style="height: 150px;">
                    <img src="../../Images/hiclipart.com.png" width="42" height="225" alt="archer" />
                </div>
                <div class="clash-card__level clash-card__level--archer">18:00 - 19:00</div>
                @*<div class="clash-card__level clash-card__level--archer">Level 5</div>
                <div class="clash-card__unit-name">The Archer</div>*@
                <div class="clash-card__unit-description">
                    <table class="contain" id="period1">
                    </table>
                    <div style="background-color:whitesmoke" id="waiting1" class="clash-card__unit-name wait">WAITING LIST</div>
                    <table class="contain" id="waiting1">
                    </table>
                </div>
            </div> <!-- end clash-card archer-->
        </div> <!-- end wrapper -->

    </div>
    
    <div class="wrapper">
        <div class="clash-card wizard">
            <div class="clash-card__image clash-card__image--wizard" style="height: 150px;">
                <img src="../../Images/hiclipart.com.png" width="42" height="225" alt="wizard" />
            </div>
            <div class="clash-card__level clash-card__level--archer">19:00 - 20:00</div>
            @*<div class="clash-card__level clash-card__level--archer">Level 5</div>
        <div class="clash-card__unit-name">The Archer</div>*@
            <div class="clash-card__unit-description">
                <table class="contain" id="period2"></table>
                <div style="background-color:whitesmoke" id="waiting2" class="clash-card__unit-name wait">WAITING LIST</div>
                <table class="contain" id="waiting2">
                </table>
            </div>
        </div> <!-- end clash-card archer-->
    </div> <!-- end wrapper -->

    <div class="wrapper">
        <div class="clash-card barbarian">
            <div class="clash-card__image clash-card__image--barbarian" style="height: 150px;">
                <img src="../../Images/hiclipart.com.png" width="42" height="225" alt="barbarian" />
            </div>
            <div class="clash-card__level clash-card__level--archer">20:00 - 21:00</div>
            @*<div class="clash-card__level clash-card__level--archer">Level 5</div>
        <div class="clash-card__unit-name">The Archer</div>*@
            <div class="clash-card__unit-description">
                <table class="contain" id="period3"></table>
            </div>
            <div style="background-color:whitesmoke" id="waiting3" class="clash-card__unit-name wait">WAITING LIST</div>
            <table class="contain" id="waiting3">
            </table>
        </div> <!-- end clash-card archer-->
    </div> <!-- end wrapper -->

    <div class="wrapper">
        <div class="clash-card giant">
            <div class="clash-card__image clash-card__image--giant" style="height: 150px;">
                <img src="../../Images/hiclipart.com.png" width="42" height="225" alt="giant" />
            </div>
            <div class="clash-card__level clash-card__level--archer">21:00 - 22:00</div>
            @*<div class="clash-card__level clash-card__level--archer">Level 5</div>
        <div class="clash-card__unit-name">The Archer</div>*@
            <div class="clash-card__unit-description">
                <table class="contain" id="period4"></table>
                <div style="background-color:whitesmoke" id="waiting4" class="clash-card__unit-name wait">WAITING LIST</div>
                <table class="contain" id="waiting4">
                </table>
            </div>
        </div> <!-- end clash-card archer-->
    </div> <!-- end wrapper -->

    <div id="afterHour">
        <div class="wrapper">
            <div class="clash-card goblin">
                <div class="clash-card__image clash-card__image--goblin" style="height: 150px;">
                    <img src="../../Images/hiclipart.com.png" width="42" height="225" alt="goblin" />
                </div>
                <div class="clash-card__level clash-card__level--archer">22:00 - 00:00</div>
                @*<div class="clash-card__level clash-card__level--archer">Level 5</div>
                <div class="clash-card__unit-name">The Archer</div>*@
                <div class="clash-card__unit-description">
                    <table class="contain" id="period5"></table>
                    <div style="background-color:whitesmoke" id="waiting5" class="clash-card__unit-name wait">WAITING LIST</div>
                    <table class="contain" id="waiting5">
                    </table>
                </div>
            </div> <!-- end clash-card archer-->
        </div> <!-- end wrapper -->
    </div>
   

</div>

